.dark {
  background-color: black;
  color: skyblue;
  text-align: center;
}
body {
  background-color: skyblue;
  position: relative;
}
header {
  position: relative;
}

.nav ul{
  list-style: none;
  background-color: #1e2a67;
  text-align:center;
  padding:0;
  margin:0;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav li {
  display: inline-block;
  margin-right: 20px;
}
/*Sub menu styling*/
.nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }
  .nav li:hover ul {
   display: block;
 }
 .nav li ul li {
   display: block;
 }
}


.adventure  {
  position: absolute;
}
li img {
  padding-left:10px;
  width: 350px;
}
.adventure li {
  display:inline-block;
}
.pictures p {
  text-align: center;
}
.banner {
  text-align: center;
}
footer {
  text-align: center;
}
